:root {
    --primary: rgb(22, 22, 22);
}

body {
    /* background-color: #efefef; */
    background-color: #fffcf9;
    font-family: "SwedenSans";

    /* nice texture bg */
    /* background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b6b6b6' fill-opacity='0.44' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}


nav {
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
}

nav a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
}

.nav-spacing {
    padding: 20px 0;
}

.brand-link {
    font-weight: bold;
    font-size: 27px;
}

.login-link {
    margin-left: 40px;
}

.signup-link {
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 22px;
    margin-left: 40px;
}


h1 {
    color: var(--primary);
}

.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
    background-color: #fff;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 14px;
}

.form-block form {
    /* padding: 0 72% 0 0; */
}

.form-block h2 {
    font-weight: normal;
    padding: 0 11%;
    margin-bottom: 36px;
}


.form-block label {
    font-size: 27px;
    color: #788086;
}

.form-block input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 12px 347px 12px 15px;
    font-size: 28px;
}

.form-block input:nth-of-type(1) {
    margin-bottom: 23px;
}

.form-block input:nth-of-type(2) {
    margin-bottom: 23px;
}

.form-block input:nth-of-type(3) {
    margin-bottom: 23px;
}

.form-block button {
  background-color: #7700ff; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 16px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  margin: 4px 100px 20px 100px;
  cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.hero h1 {
    font-size: 61px;
    width: 37%;
    text-align: center;
    margin-bottom: 0;
}

.hero h2 {
    color: #404040;
    width: 37%;
    text-align: center;
    font-weight: normal;
}

.hero a {
    border: none;
    border-radius: 16px;
    padding: 17px 27px;
    color: white;
    background-color: black;
    font-weight: bold;
    margin-top: 20px;font-size: 20px;
    text-decoration: none;
}

.vault .add-card-link {
    display: flex;
    width: 120px;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 22px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 22px;
}

/***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 

.add-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-modal h1 {
    font-size: 28px;
}

.add-modal .modal-close-button {
    background: none;
    border: none;
    align-self: end;
}

.add-modal .add-card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 400px;
    background-color: #7700ff;
    color: white;
    padding: 8px;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 28px;
    margin-top: 20px;
    cursor: pointer;
}

.add-modal label {
    font-size: 20px;
    color: #788086;
}

.add-modal input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px 0 8px 0;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.add-modal input:nth-of-type(4) {
    margin-bottom: 0;
}

.add-modal form {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 0 8%;
}

.vault {
    width: 100%;
}

.vault .vault-header {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 11px;
}

.vault h1 {
    font-size: 42px;
}

.vault-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
}

.vault-card {
    padding: 10px;
    font-size: 27px;
    width: 450px;
    /* border: 1px solid black; */
    border-radius: 8px;
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}